table#reviews_header {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
table#reviews_header > tbody > tr > td {vertical-align: top;}
table.reviews_form {margin-left: auto;}

table#reviews_zoeken input {height: 25px;}
table#reviews_zoeken input[type="text"] {width: 125px;}

table#reviews_weergeven {padding-right: 10%;}

table.reviews_tabel td,
table.reviews_tabel th {padding: 0px;}
table.reviews_tabel th {text-align: left;}

/* Reviews_tabel borders { */
table.reviews_tabel,
table.reviews_tabel td,
table.reviews_tabel th {
    border: 1px solid grey;
    border-left: hidden;
    border-right: hidden;
    border-collapse: collapse;
}
table.reviews_tabel {border: hidden;}
table.reviews_tabel td {border-bottom-color: lightgrey;}
/* } */

/* Reviews_tabel afmetingen { */
table.reviews_tabel {width: 100%;}
table.reviews_tabel td {word-break: break-word;}
.reviews_width1 {width: 15%;}
.reviews_width2 {width: 27%;}
.reviews_width3 {width: 11%;}
.reviews_width3 input {width: 140px;} 
.reviews_width4 {
    width: 1%;
}

.reviews_center {
    text-align: center;
}

.reviews_knop input,
.reviews_knop button {
    height: 25px;
    padding: 0 5px;
}

td#verwijderknop {
    width: 2%;
}

td#verwijderknop button {
    padding: 0 5px;
    color: #c52125;
    font-weight: bold;
}
/* } */
table#resultaten_kop {width: 100%;}
td#resultaten_kop_knop {text-align: right;}
table#resultaten_kop h3 {
    margin-left: 2%;
    margin-bottom: 10px;
}

table.links td,
table.links th {
    text-align: left;
    padding: 1px 5px;
    width: 14%;
    max-width: 140px;
    overflow: hidden;
}